<!DOCTYPE html>
<html class="no-js" lang="en">
<head>


    <meta charset="utf-8">
    <title>One For All</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/style_1.css">


<title>
  OFA
</title>
</head>
<body>
        <header>
                <div class="content"><a href="/">
                  <hgroup>
                    <h1>No access for you</h1>
                    <i></i>
                    <h1></h1>
                  </hgroup>
                </a></div>
                <div class="overlay"></div>
              </header>

</body>

</html>