<!DOCTYPE html>
<html class="no-js" lang="en">
<head>


    <meta charset="utf-8">
    <title>One For All</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/vendor.css">
    <link rel="stylesheet" href="../static/main.css">


    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>

<title>
  OFA
</title>
</head>

<body id="top">


    <section class="s-pageheader01 s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                        <div class="sandbox sandbox-correct-pronounciation">
                            <a href="/">
                                <h1 class="heading heading-correct-pronounciation h1-1">
                                    One For All
                                </h1>
                            </a>
                                </div>
                </div> 


                    <!-- work to be done -->
                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul> 

                <!-- <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div> -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <ul class="header__nav">
                        <li class="current"><a href="/" title="">Home</a></li>
                        <li><a href="/blogs" title="">Blog</a></li>
                        <li><a href="/todo" title="">Todo_List</a></li>
                        <li><a href="/about" title="">About</a></li>
                    </ul> 

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> 

            </div> 
        </header> 

    </div>



    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-gallery">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{vblog.name}}
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">{{vblog.date}}</li>
                    <li class="cat">
                    </li>
                </ul>
            </div> 
    
            <div class="s-content__media col-full">
                <div class="s-content__slider slider">
                    <div class="slider__slides">
                        <div class="slider__slide">
                            <img src="{{vblog.bfile}}"  
                                 sizes="(max-width: 2000px) 100vw, 2000px" alt="" >
                        </div>
                        <div class="slider__slide">
                            <img src="{{vblog.photo}}" 
                                 sizes="(max-width: 2000px) 100vw, 2000px" alt="" >
                        </div>
                        <div class="slider__slide">
                            <img src="{{vblog.photo}}" 
                                 sizes="(max-width: 2000px) 100vw, 2000px" alt="" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-full s-content__main">

                <p class="lead">{{vblog.long_desc}}</p>


                <div class="s-content__author">
                    <img src="{{vblog.pers_photo}}" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="#0">{{vblog.author}}</a>
                        </h4>
                    
                        <p>{{vblog.bio}}
                        </p>


                    </div>
                </div>

                <div class="s-content__pagenav">
                    <div class="s-content__nav">
                        <div class="s-content__prev">
                            <a href="/blogs/{{vblog.id-1}}" rel="prev">
                                <span>Previous Post</span>
                            </a>
                        </div>
                        <div class="s-content__next">
                            <a href="/blogs/{{vblog.id+1}}" rel="next">
                                <span>Next Post</span>
                            </a>
                        </div>
                    </div>
                </div> 

            </div>

        </article>



    <footer class="s-footer">

        <div class="s-footer__bottom">
            <div class="row">

            </div>
        </div> 

    </footer> 



    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>