<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
        <header>
                <div class="content"><a href="/">
                  <hgroup>
                    <h1>Recomendations</h1>
                    <i style="font-size: 40px">for</i>
                    <h1>Hotels</h1>
                  </hgroup>
                </a></div>
                <div class="overlay"></div>
              </header>

    <meta charset="utf-8">
    <title>One For All</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/vendor.css">
    <link rel="stylesheet" href="../static/main.css">


    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>

</head>

<body>
    <section class="s-content">
        
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                {% for hotel in hotels%}
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <a href="/hotels/{{hotel.id}}" class="entry__thumb-link">
                            <img src="{{hotel.hotel_photo}}" >
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="/hotels/{{hotel.id}}">{{hotel.hotel_date}}</a>
                            </div>
                            <h1 class="entry__title"><a href="/hotels/{{hotel.id}}">{{hotel.name}}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{hotel.hotel_desc}}
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a>${{hotel.price}}</a> 
                            </span>
                        </div>
                    </div>
    
                </article> 
                {% endfor%}

</div>


<div class="go-top">
    <a title="submit" href="/submit_hotel">submit</a>
</div>

<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/main.js"></script>

</body>

</html>

  <!-- <img class="header_img mx-auto d-block" src="{{url_for('static', filename='images/catbook_logo.jpg')}}">
  <div class="row">
      {% for blog in blogs%}
      <div class="col-sm-4">
        <div class="card">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static', filename='images/cat1.jpg')}}">
                <div class="card-body">
                  <h5 class="card-title">{{blog.name}}</h5>
                  <p class="card-text">Votes: 0</p>
                </div>
              </div>
        </div>
      </div>
      {% endfor%}
    </div> -->
