<!DOCTYPE html>
<html class="no-js" lang="en">
<head>


    <meta charset="utf-8">
    <title>One For All</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/style.css">


<title>
  OFA
</title>
</head>

<body id="top">
    <header>
        <div class="content">
          <hgroup>
            <h1>One</h1>
            <i>For</i>
            <h1>All</h1>
          </hgroup>
        </div>
        <div class="overlay"></div>
      </header>

    <div class="header">
		<h1 class="logo"><a href="#">One For All</a></h1>
      <ul class="main-nav">
          <li><a href="{{ url_for('home_page') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </div> 

    <div class="wrapper">
        <h1>Power in the palm of your hand</h1>
        
        <div class="cols">
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://cdn-images-1.medium.com/max/2000/1*_hZrP4Qs4tpUnjwYg8Dspg.jpeg)">
                              <div class="inner">
                                  <p>Blogs</p>
                    <span>Discover Our Blogs</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                <p><a href="/blogs"> Discover endless blogs about any topic you see fit. Our variation of topics is endless.</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://cdn.wallpaper.com/main/styles/fp_922x565/s3/06_alex-hotel-perth.jpg)">
                              <div class="inner">
                                  <p>hotels</p>
                    <span>Discover The Best Hotels</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p><a href="/hotels"> Find the best hotels in the world posted by our community. </a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ew8UyFwvl/connect-four-board-game_nwnqkwy9x__F0000.png)">
                              <div class="inner">
                                  <p>Connect Four</p>
                    <span>Try to win</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p><a href="/connect_4"> of the biggest nostalgic games of our childhood makes a return!</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://pbs.twimg.com/profile_images/3238348884/c9e8815bbfe3b7496f1a45fac27f3ff2_400x400.jpeg)">
                              <div class="inner">
                                  <p>The Useless</p>
                    <span>Website</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p><a href="https://theuselessweb.com/"> Venture out and discover website you've never knew existed on the internet.</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1280px-YouTube_full-color_icon_%282017%29.svg.png">
                              <div class="inner">
                                  <p>Youtube</p>
                    <span>Watch Videos</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p><a href="https://www.youtube.com/"> didn't see that coming huh ? but this website is a hub so feel free a access youtube from here.</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://pbs.twimg.com/profile_images/1017516299143041024/fLFdcGsl_400x400.jpg)">
                              <div class="inner">
                                  <p>Github</p>
                    <span>Go Do Your Lab</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p><a href="https://github.com/">Have a lab you need to access? say no more.</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://techgenez.com/wp-content/uploads/2018/02/electricity-energy.jpg)">
                              <div class="inner">
                                  <p>One For All</p>
                    <span>Best Website</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>We have to advertise our own website don't you think?</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)">
                              <div class="inner">
                                  <p>Coding</p>
                    <span>To Help You In Your Personal Project</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p><a href="https://www.w3schools.com/">Need to finish your personal project ? Visit w3schools and all your problems will vanish</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
       </div>
   


    <script src="../static/js/app.js"></script>
    
</body>
</html>