<!DOCTYPE html>
<html class="no-js" lang="en">
<head>


    <meta charset="utf-8">
    <title>One For All</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/vendor.css">
    <link rel="stylesheet" href="../static/main.css">


    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>


<title>
  OFA
</title>

</head>

<body id="top">

    <section class="s-content s-content--narrow">

        <div class="row">
            <form id="cForm" method="post" action="/submit" enctype="multipart/form-data">
                <fieldset>

                    <div class="form-field">
                        <input name="name" type="text" id="cName" class="full-width" placeholder="Name Of The Blog">
                    </div>

                    <div class="form-field">
                        <input name="author" type="text" id="cEmail" class="full-width" placeholder="Your Name">
                    </div>

                    <div class="form-field">
                        <input name="date" type="text" id="cName" class="full-width" placeholder="The Date Of Publish (D/M/Y)">
                    </div>

                    <div class="form-field">
                        <input name="photo" type="text" id="cWebsite" class="full-width" placeholder="A Direct Link To The Thumbnail Photo (url)">
                    </div>

                    <div class="form-field">
                            <input name="pers_photo" type="text" id="cWebsite" class="full-width" placeholder="A Personnel Photo of you (url)">
                    </div>

                    <div class="message form-field">
                    <textarea name="short_desc" id="cMessage" class="full-width" placeholder="Short Summary Of The Blog" ></textarea>
                    </div>

                    <div class="message form-field">
                        <textarea name="bio" id="cMessage" class="full-width" placeholder="A Short Biography Telling Us About Yourself" ></textarea>
                    </div>
                    
                    <div class="message form-field">
                        <textarea name="long_desc" id="cMessage" class="full-width" placeholder="Go Wild And Write Everything You Have To Write In This Blog ! " ></textarea>
                    </div>
                    

                    <input type = "file" name = "file">
                    <button type="submit" class="submit btn btn--primary full-width">Submit</button>
                    
                </fieldset>
            </form>
        </div>
    </section>

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>